body {
  background-color: #63D079;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

main {
  text-align: center;
}

.app-title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #263646;
  margin-bottom: 0;
}

.App {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#interval-container {
  display: flex;
}

.counter-btn, .counter-btn {
  border: none;
  background-color: #263646;
  outline: none;
  color: #eee;
  padding: 2px 12px;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
  width: 55px;
  text-align: center;
}

.counter-btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 700px) {
  #interval-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .app-title {
    font-size: 3.5rem;
  }
}
