#session-interval-container {
    width: 250px;
    text-align: center;
    margin-left: 50px;
}

#session-interval {
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-time {
  margin: 0 20px;
  font-size: 2.2rem;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  #session-interval-container {
    margin-left: 0;
  }
}
